<div class="consultation">
	<div class="cont">
		<div class="title">
           <span>Выберите СРО</span>  и получите консультацию:
		</div>
		<div class="list">
            <div class="item">
                <div class="box">
                    <div class="name">СРО строителей</div>
                    <div class="image">
                        <img src="img/i_1.png" alt=""/>
                    </div>
                    <div class="more">
                        <a href="">Получить</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="name">СРО строителей</div>
                    <div class="image">
                        <img src="img/i_1.png" alt=""/>
                    </div>
                    <div class="more">
                        <a href="">Получить</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="name">СРО строителей</div>
                    <div class="image">
                        <img src="img/i_1.png" alt=""/>
                    </div>
                    <div class="more">
                        <a href="">Получить</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="name">СРО строителей</div>
                    <div class="image">
                        <img src="img/i_1.png" alt=""/>
                    </div>
                    <div class="more">
                        <a href="">Получить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            или звоните нам по телефону: <span>+7 (812) 424-39-33</span>
        </div>
	</div>
</div>