<header class="header">
    <div class="cont">
        <div class="header__top">
            <div class="logo l">
                <a href="index.html">
                    <i class="icon-logo"></i>
                </a>
            </div>
            <div class="callback r">
                <div class="content">
                    <div class="phone">+7 (812) 424-39-33</div>
                    <div class="call">
                        <a href="">Заказать звонок</a>
                    </div>
                </div>
                <i class="icon-phone"></i>
            </div>
        </div>
        <div class="info">
            <div class="h1">
                <span>Официальный</span> допуск СРО <span>за 24 часа</span> </br> в Санкт-Петербурге
            </div>
            <div class="h2">Без посредников, без отказов, без скрытых доплат</div>
        </div>
        <div class="content">
            <div class="list l">
                <div class="item">
                    <i class="icon-quality"></i>
                    <div class="cont-w">
                        <div class="name">Без посредников</div>
                        <div class="text">
                            вы обращаетесь <span>напрямую</span> </br> в СРО, обращаясь к нам.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <i class="icon-quality"></i>
                    <div class="cont-w">
                        <div class="name">Без комиссий</div>
                        <div class="text">всё сопровождение, оформление</br> и консультирование <span>бесплатно</span>.</div>
                    </div>
                </div>
                <div class="item">
                    <i class="icon-quality"></i>
                    <div class="cont-w">
                        <div class="name">Легально</div>
                        <div class="text">легальный допуск с занесением</br>
                            <span>в государственный реестр</span>.</div>
                    </div>
                </div>
                <div class="item">
                    <i class="icon-quality"></i>
                    <div class="cont-w">
                        <div class="name">100% победа</div>
                        <div class="text">
                            гарантируем, что с нашим</br>
                            допуском, вы выиграете</br>
                            <span>любой тендер.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form__name">
                   <div class="name">Получите подробное коммерческое предложение <span>прямо сейчас:</span></div> 
                </div>
                <div class="box">
                    <form action="#">
                        <div class="col">
                            <label for="name">Введите имя: *</label>
                            <input type="text" id="name" placeholder="Валентин Вадимович">
                        </div>
                        <div class="col">
                            <label for="tel">Введите телефон: *</label>
                            <input type="text" id="tel" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="button">
                            <input type="submit" value="Скачать предложение">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>